:root {
  --gutters: #ebe7e5;
  --linenumbers: #897e56;
  --border: #6b84b0;
  --background-primary: #161616;
  --background-secondary: #58575786;
  --gutters-border: 1px solid transparent;
  --border-width: 1px;
  --error: #e93838;
  --warning: #ffed2b;
  --success: #6de46d;
  --font-primary: 'Virgil';
  --drone1: #565f89;
  --drone2: #96aad6;
  --drone3: #c6dbf2;
  --drone4: #282828;
  --hover: #555353;

  --comment: #37455e;
  --operator: #96aad6;
  --number: #7abcf3;
  --keyword: #c6dbf2;
  --string: #6cd281;
  --bracket: #6b84b0;
  --color-primary: #6b84b0;
  --color-secondary: #96aad6;
  --color-thirdly: #d3dbfc;
  --color-fourtly: #1ef43e;
  --color-fiftly: #2eff85;
}
/* fc11c1 */
@font-face {
  font-family: 'Virgil';
  src: url(./assets/fonts/Virgil.woff2) format('woff2');
  font-display: swap;
}

html,
body {
  background-color: var(--background-primary);
  margin: 0;
  height: 100vh;
}

#console {
  position: absolute;
  left: 0px;
  padding-inline-start: 60px;
  width: fit-content;
  color: white;
  background-color: transparent;
  border: none;
}

#editor-container {
  z-index: 1;
}
iframe {
  border: none;
  width: 100%;
  height: 50%;
}
.header {
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--background-primary);
  z-index: 1000;
}

.cm-editor {
  border: none;
  padding-inline-start: 2px;

  border-top: 1px solid var(--border);
  border-bottom: none;
}

.cm-panels,
.cm-search {
  background-color: transparent !important;
  width: auto;
}

.cm-completionLabel,
.cm-completionMatchedText,
.cm-completionDetail {
  font-family: var(--font-primary);
}
.cm-searchMatch {
  background-color: #71686fbe !important;
}
.cm-searchMatch-selected {
  background-color: #de61b08e !important;
}

#canvas-container {
  width: 100%;
  height: 50%;
  display: none;
}
#drone,
#share {
  padding-inline-start: 10px;
  color: var(--color-primary);
  font-family: var(--font-primary);
  cursor: pointer;
  z-index: 1000;
}
.cm-tooltip-autocomplete {
  background-color: #282828 !important;
}
